<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="style.css" />	
</h:head>

<h:body>
	<h:form>
		<b:navBar brand="Archives municipales" brandHref="index.xhtml" fluid="true">
			<b:navbarLinks>
				<b:navLink value="Accueil" icon-awesome="home" href="index.xhtml" />
				<b:navLink value="Rechercher" icon-awesome="search" href="search.xhtml" />
				<b:navLink value="Suivi des réservations" icon-awesome="dashboard" href="dashboard.xhtml" rendered="#{mbUser.user.role == 'Employee' ? true : false}"/>

			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="    " href="#"></b:navLink>
			</b:navbarLinks>

			<b:navbarLinks pull="right">
			
			<b:navLink id="basket" value="#{mbBasket.basket.size()} #{mbBasket.basketName()}" href="#" onclick="$('.responsiveModalPseudoClass').modal('show')" icon-awesome="cart-plus" rendered="#{mbUser.isConnected()}"/>
			
	  			<b:modal id="amodal2" title="Mon panier" styleClass="responsiveModalPseudoClass">
	  				<b:form rendered="#{mbBasket.basket.isEmpty()}">
	  					<h:outputText value="Votre panier est vide"/>
	  				</b:form>
	  				<b:form rendered="#{!mbBasket.basket.isEmpty()}">
	  					<table class="table table-condensed table-hover">
					  		<thead>
					    		<tr>
					      			<th>Cote</th>
					      			<th>Titre</th>
					      			<th></th>
					      			
					    		</tr>
					  		</thead>
					  		<tbody>
					  			<ui:repeat value="#{mbBasket.basket}" var="item">
						  			<tr>
						    			<td><h:outputText value="#{item.callNumbers}"/></td>			
						    			<td><h:outputText value="#{item.title}"/></td>
						    			<td><b:commandButton 
											icon-awesome="remove"
											size="xs"
											action="#{mbBasket.removeFromBasket(item)}" 
											/>
										</td>
						  			</tr>
						  		</ui:repeat>
						  </tbody>
					  </table>
				    </b:form>
				 
				  <b:button 
							value="Demander la réservation" 
							rendered="#{!mbBasket.basket.isEmpty()}"
							look="primary"
							href="summary.xhtml" />

				  </b:modal>
			

				<b:dropMenu value="Mon espace" icon-awesome="user" href="#" rendered="#{mbUser.isConnected()}">
					<b:navLink header="#{mbUser.user.firstname} #{mbUser.user.lastname}"></b:navLink>
					<b:navLink value="Mes réservations" icon-awesome="list-alt" href="reservations.xhtml" />
					<b:navCommandLink value=" Se déconnecter" icon-awesome="sign-out" action="#{mbUser.disconnect()}" />
				</b:dropMenu>
				<b:navLink value="Se connecter" icon-awesome="sign-in" href="login.xhtml" rendered="#{!mbUser.isConnected()}" />

			</b:navbarLinks>
			
		</b:navBar>
	</h:form>
	<b:container>
		<b:row>
			<b:column style-class="archives-content">
				<ui:insert name="content"></ui:insert>
			</b:column>
		</b:row>
	</b:container>


	<div class="archives-footer">
		<h6>Contenu extrait du <a href="https://archives.blois.fr/">site officiel</a> des Archives de la Ville de Blois et d'Agglopolys</h6>
		<h6><i>© Archives municipales de Blois 2022</i></h6>
	</div>




</h:body>

</html>