<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Tableau de bord</title>
		<f:metadata>
			<f:viewAction action="#{mbUser.checkEmployeeRole()}" type="preRenderView"/>
		</f:metadata>
	</ui:define>

	<ui:define name="content">
		<b:form id="growlForm">
		 <b:growl placementFrom="top" placementAlign="center" 
	                show-detail="true" show-summary="true" allowDismiss="true"
	                global-only="true" delay="4000" escape="true" />

		</b:form>
			<b:panel title="Réservations à traiter" collapsible="true">
						
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Référence</th>
							<th>Date de la demande</th>
							<th>Date de rendez-vous</th>
			      			<th>Demandeur</th>
			      			<th>Action</th>		
						</tr>
					</thead>

					<tbody>
						<ui:repeat value="#{mbReservation.reservations}" var="item">
							<h:panelGroup rendered="#{empty item.validationDate and empty item.refusalDate and empty item.cancellationDate}">
								<tr data-toggle="collapse" data-target="#res#{item.id}" class="accordion-toggle">
									<h:form>
										<td><b:button size="xs" iconAwesome="caret-down"/></td>
										<td><h:outputText value="#{item.id}"/></td>
										<td><h:outputText value="#{item.creationDate}">
							    			<f:convertDateTime type="localDate" dateStyle="long"/> 
							    		</h:outputText></td>
							    		<td><h:outputText value="#{item.appointmentDate}">
							    			<f:convertDateTime type="localDate" dateStyle="long"/> 
							    		</h:outputText></td>
										<td><h:outputText value="#{item.user.firstname} #{item.user.lastname}"/></td>
										<td><b:commandButton value="Valider" look="success" size="xs" action="#{mbReservation.validate(item)}" /></td>
										<td><b:commandButton value="Refuser" look="danger" size="xs" action="#{mbReservation.refuse(item)}" /></td>
									</h:form>
								</tr>
								<tr>
									<td colspan="6" class="hiddenRow">
										<div id="res#{item.id}" class="accordian-body collapse">
											<h:outputText value="Archives demandées :" /><br />
											<ui:repeat value="#{mbArchive.getReservedArchives(item)}" var="archiveItem">
												<h:outputText value="#{archiveItem.callNumbers} - #{archiveItem.title}" /><br />
											</ui:repeat>
										</div>
									</td>
								</tr>
							</h:panelGroup>
						</ui:repeat>
						
					</tbody>
				</table>
			</b:panel>
			
			
			<b:panel title="Réservations en cours" collapsible="true">
						
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Référence</th>
							<th>Date de la demande</th>
							<th>Date de rendez-vous</th>
			      			<th>Demandeur</th>
			      			<th>Action</th>		
						</tr>
					</thead>

					<tbody>
						<ui:repeat value="#{mbReservation.reservations}" var="item">
							<h:panelGroup rendered="#{not empty item.validationDate and empty item.cancellationDate and empty item.completionDate}">
								<tr data-toggle="collapse" data-target="#res#{item.id}" class="accordion-toggle">
									<h:form>
										<td><b:button size="xs" iconAwesome="caret-down"/></td>
										<td><h:outputText value="#{item.id}"/></td>
										<td><h:outputText value="#{item.creationDate}">
							    			<f:convertDateTime type="localDate" dateStyle="long"/> 
							    		</h:outputText></td>
							    		<td><h:outputText value="#{item.appointmentDate}">
							    			<f:convertDateTime type="localDate" dateStyle="long"/> 
							    		</h:outputText></td>
										<td><h:outputText value="#{item.user.firstname} #{item.user.lastname}"/></td>
										<td><b:commandButton value="Terminer" look="primary" size="xs" action="#{mbReservation.close(item)}" /></td>
										<td><b:commandButton value="Annuler" size="xs" action="#{mbReservation.cancel(item)}" /></td>
									</h:form>
								</tr>
								<tr>
									<td colspan="6" class="hiddenRow">
										<div id="res#{item.id}" class="accordian-body collapse">
											<h:outputText value="Archives demandées :" /><br />
											<ui:repeat value="#{mbArchive.getReservedArchives(item)}" var="archiveItem">
												<h:outputText value="#{archiveItem.callNumbers} - #{archiveItem.title}" /><br />
											</ui:repeat>
										</div>
									</td>
								</tr>
							</h:panelGroup>
						</ui:repeat>
						
					</tbody>
				</table>
			</b:panel>
			
			<b:panel title="Réservations passées" collapsible="true" >
						
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Référence</th>
							<th>Date de la demande</th>
							<th>Date de rendez-vous</th>
			      			<th>Demandeur</th>	
			      			<th>Statut</th>
						</tr>
					</thead>

					<tbody>
						<ui:repeat value="#{mbReservation.reservations}" var="item">
							<h:panelGroup rendered="#{not empty item.refusalDate or not empty item.completionDate or not empty item.cancellationDate}">
								<tr data-toggle="collapse" data-target="#res#{item.id}" class="accordion-toggle">
									<h:form>
										<td><b:button size="xs" iconAwesome="caret-down"/></td>
										<td><h:outputText value="#{item.id}"/></td>
										<td><h:outputText value="#{item.creationDate}">
							    			<f:convertDateTime type="localDate" dateStyle="long"/> 
							    		</h:outputText></td>
							    		<td><h:outputText value="#{item.appointmentDate}">
							    			<f:convertDateTime type="localDate" dateStyle="long"/> 
							    		</h:outputText></td>
										<td><h:outputText value="#{item.user.firstname} #{item.user.lastname}"/></td>
										<th><h:outputText value="#{not empty item.completionDate ? 'Terminée' : (not empty item.refusalDate ? 'Refusée' : 'Annulée')}"/></th>
									</h:form>
								</tr>
								<tr>
									<td colspan="6" class="hiddenRow">
										<div id="res#{item.id}" class="accordian-body collapse">
											<h:outputText value="Archives demandées :" /><br />
											<ui:repeat value="#{mbArchive.getReservedArchives(item)}" var="archiveItem">
												<h:outputText value="#{archiveItem.callNumbers} - #{archiveItem.title}" /><br />
											</ui:repeat>
										</div>
									</td>
								</tr>
							</h:panelGroup>
						</ui:repeat>
						
					</tbody>
				</table>
			</b:panel>
		
	</ui:define>
</ui:composition>
</html>