<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Connexion</title>
		<f:metadata>
			<f:event listener="#{mbUser.disconnect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>

	<ui:define name="content">

		 <b:messages id="messages" globalOnly="true" severity="info"/>

		<b:form id="loginForm">
			
			<b:panel col-xs="12" col-md="6" style-class="login-panel">
				<b:row style-class="center-title">
					<h3>Se connecter</h3>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs archives-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Identifiant" />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Identifiant" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText 
						id="inpLogin" 
						placeholder="Veuillez entrer un identifiant"
						value="#{mbUser.login}">
							<f:facet name="prepend">
								<b:icon name="user"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs archives-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputSecret 
						id="inpPassword" 
						placeholder="Veuillez entrer un mot de passe"
						value="#{mbUser.password}">
							<f:facet name="prepend">
								<b:iconAwesome name="key"/>
							</f:facet>
						</b:inputSecret>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpPassword"/>
					</b:column>
				</b:row>
				<b:row style-class="center-item">
					<b:commandButton style-class="login-btn" look="primary" value="Connexion" action="#{mbUser.connect()}" />
				</b:row>
			</b:panel>
			<b:panel col-xs="12" col-md="6" style-class="signin-panel">
				<b:row style-class="center-title">
					<h3>Vous n'avez pas de compte ?</h3>
				</b:row>
				<b:row style-class="center-item">
					<b:button style-class="signin-btn" value="S'inscrire" href="createuser.xhtml" />
				</b:row>
			</b:panel>
				
		</b:form>
	</ui:define>
</ui:composition>
</html>