<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Recherche</title>
	</ui:define>

	<ui:define name="content">
	<h3> Recherche multicritères</h3>
	<b:form id="growlForm">
		 <b:growl placementFrom="top" placementAlign="center" 
	                show-detail="true" show-summary="true" allowDismiss="true"
	                global-only="true" delay="4000" escape="true" />

	</b:form>
	
	<b:form id="searchForm" >
		<b:row>
			<b:column col-xs="12" col-md="3">
				<b:inputText label="Cote" value="#{mbSearch.callNumbers}" fieldSize="sm" typeahead="true" typeahead-values="#{mbSearch.archivesCallnumbers}"/>
			</b:column>
			<b:column col-xs="12" col-md="3" offset="1">    
	                <b:selectOneMenu select2="true" label="Catégorie" value="#{mbSearch.category}" >
	                    <f:selectItem itemLabel="Toutes les catégories" itemValue="#{null}"/>
	                    <f:selectItems value="#{mbSearch.categories}"  var="cat" itemLabel="#{cat}" itemValue="#{cat}"/>
	                </b:selectOneMenu>
			</b:column>
			<b:column col-xs="12" col-md="3" offset="1">
					<b:selectOneMenu label="Numérisé" value="#{mbSearch.digitalized}" >
	                    <f:selectItem itemLabel="Tous" itemValue="#{null}"/>
	                    <f:selectItem itemLabel="Oui" itemValue="#{true}"/>
	                    <f:selectItem itemLabel="Non" itemValue="#{false}"/>
                	</b:selectOneMenu>		
			</b:column>
		</b:row>
		<b:row>
			<b:column col-xs="12" col-md="3">
				<b:inputText label="Titre" value="#{mbSearch.title}" fieldSize="sm" typeahead="true" typeahead-values="#{mbSearch.titles}"/>
			</b:column>
			<b:column col-xs="12" col-md="3" offset="1">
				<b:selectOneMenu select2="true" label="Début de la période" value="#{mbSearch.earliestYear}" >
                    <f:selectItem itemLabel="Toutes les années" itemValue=""/>
                    <f:selectItems value="#{mbSearch.years}"  var="year" itemLabel="#{year}" itemValue="#{year}"/>
                </b:selectOneMenu>
			</b:column>
			<b:column col-xs="12" col-md="3" offset="1">
				<b:selectOneMenu select2="true" label="Fin de la période" value="#{mbSearch.latestYear}" >
                    <f:selectItem itemLabel="Toutes les années" itemValue=""/>
                    <f:selectItems value="#{mbSearch.years}"  var="year" itemLabel="#{year}" itemValue="#{year}"/>
                </b:selectOneMenu>
			</b:column>
		</b:row>
		 <b:row style-class="btn-align">
		 		<b:column col-xs="12" col-md="5" offset-md="1">
		 		     <b:commandButton style-class="btn-search" look="light" value="Réinitialiser" size="sm" actionListener="#{mbSearch.init()}" />
      			</b:column>
      			<b:column col-xs="12" col-md="5" offset-md="1">
      				<b:commandButton style-class="btn-search" look="primary" value="Rechercher" size="sm" actionListener="#" />
      			</b:column>
		</b:row>
		
	</b:form>
	
	<h3> Résultats</h3>
	<b:form id="resultForm">
			<b:row style-class="results-align">
				<h:outputText value="Nombre de résultats : "/>
				<h:outputText value="#{mbSearch.search().size()}"/>
			</b:row>

			<div class="search-table">
		
				<table class="table table-bordered table-striped table-hover">
			  		<thead>
			    		<tr>
			      			<th>Cote</th>
			      			<th>Catégorie</th>
			      			<th>Date la plus ancienne</th>
			      			<th>Date la plus récente</th>
			      			<th>Titre</th>
			      			<th>Numérisé</th>
			      			<th>Action</th>
			    		</tr>
			  		</thead>
			  		<tbody>
			  			<ui:repeat value="#{mbSearch.search()}" var="item">
				  			<tr data-toggle="collapse" data-target="#archive#{item.id}" class="accordion-toggle" >
				    			<td><h:outputText value="#{item.callNumbers}"/></td>
				    			<td><h:outputText value="#{item.category}"/></td>
				    			<td>
					    			<h:outputText value="#{item.latestDate}">
					    				<f:convertDateTime type="localDate" dateStyle="long" /> 
					    			</h:outputText>
				    			</td>
				    			<td>
				    				<h:outputText value="#{item.earliestDate}">
				    					<f:convertDateTime type="localDate" dateStyle="long"/> 
				    				</h:outputText>
				    			</td>
				    			<td><h:outputText value="#{item.title}"/></td>
				    			<td><h:outputText value="#{item.digitalized ? 'Oui' : 'Non' }"/></td>
				    			<td><b:commandButton small-screen="full-width"
									value="Ajouter au panier" 
									size="xs"
									iconAwesome="cart-plus"
									look="info"
									rendered="#{!item.digitalized and item.availability and mbUser.isConnected() and !mbBasket.basket.contains(item)}"
									action="#{mbBasket.addToBasket(item)}" 
									/>
									
									<b:button 
									small-screen="full-width"
									value="Ajouté au panier" 
									size="xs"
									iconAwesome="cart-plus"
									look="warning"
									disabled="#{true}"
									rendered="#{!item.digitalized and item.availability and mbUser.isConnected() and mbBasket.basket.contains(item)}"
									
									/>
										
									<b:button 
									small-screen="full-width"
									value="Consulter" 
									size="xs"
									iconAwesome="eye"
									look="primary"
									rendered="#{item.digitalized}"
									
									/>

									<b:commandButton 
									small-screen="full-width"
									value="Réservé" 
									size="xs"
									look="link"
									rendered="#{!item.digitalized and !item.availability and mbUser.isConnected()}"
									disabled="#{true}"
									action="#" 
									/>
								</td>
				  			</tr>
				  			<tr>
				  				<td colspan="6" class="hiddenRow">
										<div id="archive#{item.id}" class="accordian-body collapse">
											
											<ui:repeat value="#{mbFile.getFilesByArchive(item)}" var="img">
												
												 <b:link href="#img#{img.id}">
												       <b:image styleClass="thumb" value="#{img.path}#{img.name}"/>
												    </b:link>
												
												    <div class="lightbox" id="img#{img.id}">
														 <ui:param name ="prev" value ="${img.id-1}" />
														  <ui:param name ="next" value ="${img.id+1}" />
												    
												        <b:link href="#img#{prev}" styleClass="light-btn btn-prev">précédent</b:link>
												            <b:link href="#_" styleClass="btn-close">X</b:link>
												            <b:image  value="#{img.path}#{img.name}"/>
												        <b:link href="#img#{next}" styleClass="light-btn btn-next">suivant</b:link>
												    </div>
											</ui:repeat>
									</div>
									
								</td>
				  			
				  			</tr>
				  		</ui:repeat>
			  		</tbody>
			  	
				</table>
			
			</div>
			
		</b:form>
		
	</ui:define>
	
	
</ui:composition>


</html>