<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="AppArchives-EAR-1.0">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="AppArchives-ENTITY-1.0.jar" deploy-path="/lib" handle="module:/resource/AppArchives-ENTITY/AppArchives-ENTITY">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AppArchives-IDAO-1.0.jar" deploy-path="/lib" handle="module:/resource/AppArchives-IDAO/AppArchives-IDAO">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AppArchives-DAO-1.0.jar" deploy-path="/" handle="module:/resource/AppArchives-DAO/AppArchives-DAO">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mysql-connector-java-8.0.11.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/mysql/mysql-connector-java/8.0.11/mysql-connector-java-8.0.11.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="protobuf-java-2.6.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/google/protobuf/protobuf-java/2.6.0/protobuf-java-2.6.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AppArchives-IBUSINESS-1.0.jar" deploy-path="/lib" handle="module:/resource/AppArchives-IBUSINESS/AppArchives-IBUSINESS">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AppArchives-BUSINESS-1.0.jar" deploy-path="/" handle="module:/resource/AppArchives-BUSINESS/AppArchives-BUSINESS">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AppArchives-WEB-1.0.war" deploy-path="/" handle="module:/resource/AppArchives-WEB/AppArchives-WEB">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
